:root {
    --negro: #000000;
    --azulOscuro: #0C1821;
    --oxford: #1B2A41;
    --azul: #324A5F;
    --gris: #CCC9DC;
    --blanco: #FFFFFF;
  }
  
  * {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    font-family: "Montserrat", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }